@import url();

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
nav{
  z-index: 3;
  width: 120%;
  background: #eea509;
  padding: 20px;
  position: absolute;
  transform-origin: top center ;
  transform:translateZ(-3000px) scale(1000) translateY(-50vh);
}
nav.sticky{
  background: #4e4e4e;
}
nav .nav_content{
  height: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav_content .logo{
  font-size: 35px;
  font-weight: 500;
  color: #ffffff;
}
nav .nav_content .nav_links{
  display: flex;
  align-items: center;
}
nav .nav_links li{
  list-style: none;
  margin: 0px 8px;
}
nav .nav_links a{
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 10px 15px;
  transition: all 0.3s ease;
}
nav .nav_links a:hover{
  color: #ffd900;
}


/*整个框架*/
.shell{
  height: 100vh;
  overflow-x: hidden;
  perspective: 3px;
}
/*图片*/
.image{
  position:relative;
  transform: translateZ(-10px) scale(5);
  background-size: cover;
  height: 100vh;
  z-index: -1;
}
/*国家名字那一栏*/
.heading{
  z-index: 0;
  transform:translateZ(-5px) scale(2.5);
  position:absolute;
  width: 100%;
  display: flex;
}
.heading_text{
  letter-spacing: 3px;
  color: #fff;
  font-size: 50px;
  background-color: #242424b2;
  border-left: 20px solid #eea609;
}
.scrollicon_bar{
  bottom: 0%;
  z-index: 0;
  position:absolute;
  width: 100%;
  /*加这两个再删掉float就可以把它变去中间了*/
  /*display: flex;*/
}
.scrollicon{
  /*margin: 0 auto;*/
  float: right;
  width: auto;
  height: 200px;
}
/*往下滑出现的东西*/
.main{
  position:relative;
  background-color: #202124;
  padding: 30px 15%;
}
@media screen and (max-width: 1400px){
  .main{
  position:relative;
  background-color: #202124;
  padding: 5vh 0vw;
  }
}
    /*�����*/
    .title{
      font-size: 100px;
      background-color: #35363a;
      color: #ffffff;
      border-bottom: 10px solid #eea609;
    }
    /*���� & ����*/
    .text{
      background-color: #4e4e4e;
      padding-top: 20px;
      padding-bottom: 40px;
    } 
    /*������tag h1*/
    .text h1{
      color: #fdfdfd;
      font-size: 60px;
      margin-inline:50px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    /*��������tag b*/
    .text h2{
      color: #fff1a4;
      font-size: 30px;
      margin-left: 80px;
      margin-top: 20px;
    }
    /*������tag p*/
    .text p{
      color: #dadada;
      margin: 0px 80px;
      font-size: 20px;
    }
    .ima{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width:100%;
		height:100%;
	}

	.iconmap{
		position: absolute;
		top: 16px;
		right: 32px;
	}

	.container {
		position: relative;
		text-align: center;
		color: white;
	}

	.Bigtext {
		position: absolute;
		width: 65%;
		right: 30px;
		top: 100px;
		font-size: 12vw;
		padding-top: 5%;
		font-family:  Orbitron;
		line-height: 200px;
		text-shadow: 6px 2px 10px white;
		user-select: none;
	}

    details {
        user-select: none;
        color: white;
        background-color: #09090b;
    }
	
	details>summary span.icon {
		width: 24px;
		height: 24px;
		transition: all 0.4s;
		margin-left:2px;
		margin-right:2px;
		margin-top:2px;
		margin-bottom:0px;
		color:white;
		padding-left: 5px;
	}

	details[open] summary span.icon {
		transform: rotate(180deg);
	}

	summary {
		display: flex;
		cursor: pointer;
		background-color: #2e2e2e;
		margin: 0px 46.7%;
		border-radius: 5px 5px 0px 0px;
	}
    .button {
        margin: 0;
		position: absolute;
		top: 60%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		padding: 20px 60px;
		border-radius: 10px;
		font-size: 30px;
		background-color: white;
		font-family: arial;
		outline: none;
		border: none;
		cursor: pointer;
		transition-duration: 0.4s;
	}

	.button:hover{
		background-color:#c5c6c7;
		box-shadow: 0 0 5px #c5c6c7, 0 0 25px #c5c6c7, 0 0 50px #c5c6c7, 0 0 200px #c5c6c7;
	}

	.copyright{
		text-align:center;
		font-size: 15px;
		width:100%;
		background-color: #4a4a4a;
		background-image: linear-gradient(#4a4a4a,#575757);
		height: 30px;
		padding-top:5px;
	}
